img{
    width: 400px;
    height: auto;
    
}
h6{
    text-align: center;
}
p{
    text-align: center;
}
button{
    align-items: center;
    background-color: dodgerblue;
    border: none;
}
.form-row{
    margin-bottom: 50px;
}